#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(85, 85, 85, 0.9);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    border: 1px rgba(128, 128, 128, 0.9);
  }
  
  #myBtn:hover {
    background-color: rgba(128, 128, 128, 0.9);
  }