@tailwind base;
@tailwind components;
@tailwind utilities;

#myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 35px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(85, 85, 85, 0.8);
    color: white;
    cursor: pointer;
    line-height: 40px;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    border: 2px solid lightskyblue;
  }
  
  #myBtn:hover {
    /* content: '/034E'; */
    background-color: rgba(85, 85, 85, 0.9);
    transition: all 0.3s ease-in;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 80px;
  }